<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/product/product_layout.html}">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script th:src="@{/js/product/product_list.js}"></script>
    </head>
    <section layout:fragment="content" class="list">
            <!-- 제목, 페이지 네비게이션 -->
            <nav>
                <h1>상품목록</h1>
                <p>HOME > <span th:text="${cate eq null ? '전체 상품' : cate.cate1.c1Name + ' > '}"></span><strong th:text="${cate eq null ? ' ' : cate.c2Name}"></strong></p>
            </nav>

            <!-- 정렬 메뉴 -->
            <ul class="sort" th:if="${pageRequestDTO.prodCate1 ne 1}">
                <li><a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type='sold')}" th:class="${pageRequestDTO.type eq 'sold' ? 'on' : 'off'}">판매많은순</a></li>
                <li><a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type='priceAsc')}" th:class="${pageRequestDTO.type eq 'priceAsc' ? 'on' : 'off'}">낮은가격순</a></li>
                <li><a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type='priceDesc')}" th:class="${pageRequestDTO.type eq 'priceDesc' ? 'on' : 'off'}">높은가격순</a></li>
                <li><a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type='score')}" th:class="${pageRequestDTO.type eq 'score' ? 'on' : 'off'}">평점높은순</a></li>
                <li><a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type='review')}" th:class="${pageRequestDTO.type eq 'review' ? 'on' : 'off'}">후기많은순</a></li>
                <li><a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type='rdate')}" th:class="${pageRequestDTO.type eq 'rdate' ? 'on' : 'off'}">최근등록순</a></li>
            </ul>

            <!-- 상품목록 -->
            <table border="0">
                <tr th:each="product:${products.dtoList}">
                    <td><a th:href="@{/product/view(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2},prodNo=${product.prodNo})}" class="thumb"><img src="https://via.placeholder.com/120x120" alt="상품이미지"/></a></td>
                    <td>
                        <h3 class="name"><a th:href="@{/product/view(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2},prodNo=${product.prodNo})}">[[${product.prodName}]]</a></h3>
                        <a th:href="@{/product/view(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2},prodNo=${product.prodNo})}" class="desc">[[${product.descript}]]</a>
                    </td>
                    <td>
                        <ul>
                            <li><ins class="dis-price" th:text="${#numbers.formatInteger(product.price - ((product.price/100)*product.discount), 0, 'COMMA')}"></ins></li>
                            <li>
                                <del class="org-price" th:if="${product.discount ne 0}" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')}"></del>
                                <span class="discount" th:if="${product.discount ne 0}">[[${product.discount}]]%</span>
                            </li>
                            <li><span class="free-delivery" th:if="${product.delivery eq 0}">무료배송</span></li>
                            <li><span class="delivery" th:if="${product.delivery ne 0}" th:text="'배송비 '+${#numbers.formatInteger(product.delivery, 0, 'COMMA')}+'원'"></span></li>
                        </ul>
                    </td>
                    <td>
                        <h4 class="seller"><i class="fas fa-home"></i>&nbsp;[[${product.seller.company}]]</h4>
                        <h5 th:class="'badge '+${product.seller.level eq 4 ? 'power':(product.seller.level eq 5?'great':(product.seller.level eq 6 ?'power great':''))}">판매자등급</h5>
                        <h6 th:class="'rating star'+${product.score}">상품평[[${product.score eq 0 ? '이 없습니다.': ' '}]]</h6>
                    </td>
                </tr>

            </table>

            <!-- 상품목록 페이지번호 -->
            <div class="paging">
                <span>
                  <a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type=${pageRequestDTO.type}, pg=${pageResponseDTO.start-1})}"
                     class="prev" th:if="${pageResponseDTO.prev}"><&nbsp;이전</a>
                </span>
                <span class="num">
                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                  <a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type=${pageRequestDTO.type}, pg=${num})}" class="on"  th:classappend="${pageResponseDTO.pg eq num ? 'num on' : 'num'}">[[${num}]]</a>
                    </th:block>
                </span>
                <span>
                  <a th:href="@{/product/list(prodCate1=${pageRequestDTO.prodCate1},prodCate2=${pageRequestDTO.prodCate2}, type=${pageRequestDTO.type}, pg=${pageResponseDTO.end+1})}"
                     class="next" th:if="${pageResponseDTO.next}">다음&nbsp;></a>
                </span>
            </div>
        </section>
</html>