<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{product/layout.html}">
<article layout:fragment="content">
        
        <!-- 상품검색 화면 시작 -->
        <section class="search">

          <!-- 제목, 페이지 네비게이션 -->
          <nav>
            <h1>상품 검색 결과</h1>
            <p>
              HOME > <span>상품검색</span> > <strong>검색키워드</strong>
            </p>
          </nav>

          <!-- 검색결과 그룹박스 -->
          <div class="group">
            <h3><strong>셔츠</strong>검색결과 <em>(총&nbsp;:&nbsp;<span>20</span>&nbsp;건)</em></h3>
            <form action="#">
              <input type="text" name="search"/>
              <input type="submit" value="검색"/>
              <span>
                  <label><input type="checkbox" name="chk" value="상품명">상품명</label>
                  <label><input type="checkbox" name="chk" value="상품설명">상품설명</label>
                  <label><input type="checkbox" name="chk" value="상품가격">상품가격</label>
                  <input type="text" name="min"/>원&nbsp;~&nbsp;<input type="text" name="max"/>원
              </span>
            </form>
            <p class="info">
              상세검색을 선택하지 않거나, 상품가격을 입력하지 않으면 현재 결과내에서 검색합니다.<br>
              검색어는 최대 10글자까지, 여러개의 검색어를 공백으로 구분하여 입력 할수 있습니다.
            </p>
          </div>

          <!-- 정렬 메뉴 -->
          <ul class="sort">
              <li><a href="#">판매많은순</a></li>
              <li><a href="#">낮은가격순</a></li>
              <li><a href="#">높은가격순</a></li>
              <li><a href="#">평점높은순</a></li>
              <li><a href="#">후기많은순</a></li>
              <li><a href="#">최근등록순</a></li>
          </ul>

          <!-- 검색목록 -->
          <table border="0">                  
            <tr>
              <td><a href="#" class="thumb"><img src="https://via.placeholder.com/120x120" alt="상품이미지"/></a></td>
              <td>
                <h3 class="name">상품명</h3>
                <a href="#" class="desc">상품 설명</a>
              </td>
              <td>
                <ul>
                  <li><ins class="dis-price">27,000</ins></li>
                  <li>
                    <del class="org-price">30,000</del>
                    <span class="discount">10%</span>
                  </li>
                  <li><span class="free-delivery">무료배송</span></li>
                </ul>
              </td>
              <td>
                <h4 class="seller"><i class="fas fa-home"></i>&nbsp;판매자</h4>
                <h5 class="badge power great">판매자등급</h5>
                <h6 class="rating star3">상품평</h6>
              </td>
            </tr>
            <tr>
              <td><a href="#" class="thumb"><img src="https://via.placeholder.com/120x120" alt="상품이미지"/></a></td>
              <td>
                <h3 class="name">상품명</h3>
                <a href="#" class="desc">상품 설명</a>
              </td>
              <td>
                <ul>
                  <li><ins class="dis-price">27,000</ins></li>
                  <li>
                    <del class="org-price">30,000</del>
                    <span class="discount">10%</span>
                  </li>
                  <li><span class="free-delivery">무료배송</span></li>
                </ul>
              </td>
              <td>
                <h4 class="seller"><i class="fas fa-home"></i>&nbsp;판매자</h4>
                <h5 class="badge power great">판매자등급</h5>
                <h6 class="rating star3">상품평</h6>
              </td>
            </tr>
          </table>

          <!-- 상품목록 페이지번호 -->
          <div class="paging">
            <span class="prev">
              <a href="#"><&nbsp;이전</a>
            </span>
            <span class="num">
              <a href="#" class="on">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
            </span>
            <span class="next">
              <a href="#">다음&nbsp;></a>
            </span>
          </div>
          
        </section>
        <!-- 상품검색 화면 끝 -->
    </article>
</html>
