<!-- /templates/cs/frame.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <title>롯데ON::고객센터</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/cs.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div class="top">
          <div>
            <p>
              <a th:href="@{/member/login}">로그인</a>
              <a href="#">회원가입</a>
              <a href="#">마이페이지</a>
              <a href="#">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니
              </a>
            </p>
          </div>
        </div>
        <div class="logo">
          <div>
            <a th:href="@{/cs/index}"><img th:src="@{/images/header_logo.png}" alt="로고" />고객센터</a>
          </div>
        </div>
      </header>
      <section id="cs">

        <!-- 여기부터  -->
        <div th:class="${groupInfo.group}">
          <nav>
            <div>
              <p>
                  홈
                <span>></span>
                  [[${groupInfo.group_name}]]
                <span>></span>
                <p style="font-weight: bold;">
                  [[${cate1Info.cate1_name}]]
                </p>
              </p>
            </div>
          </nav>
          <section th:class="${article}">
            <!-- 여기까지 css를 정하는 class -->
            <aside>
              <h2>[[${groupInfo.group_name}]]</h2>
              <ul>
                <th:block th:each="cg:${category}">
                  <li th:class="${cg.cate1 eq cate1Info.cate1 ? 'on' : 'off'}">
                    <a th:href="@{${url}(cate1=${cg.cate1})}">
                      [[${cg.cate1_name}]]
                    </a>
                  </li>
                </th:block>
              </ul>
            </aside>
            <article layout:fragment="content">

              <!--
                컨텐츠가 들어와야 할 위치
              -->


            </article>
          </section>
        </div>
      </section>

      <footer>
        <ul>
          <li><a href="#">회사소개</a></li>
          <li><a href="#">서비스이용약관</a></li>
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">전자금융거래약관</a></li>
        </ul>
        <div>
          <p><img th:src="@{/images/footer_logo.png}" alt="로고" /></p>
          <p>
            <strong>(주)롯데ON</strong><br />
            서울특별시 송파구 올림픽로 300 롯데월드타워 26층 (역삼동 강남파이낸스센터)<br />
            대표이사 : 김사무엘상현, 정준호, 강성현<br />
            사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br />
            통신판매업 신고 : 서울송파 제0158호<br>
            호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
          </p>
          <p>
            <strong>고객센터</strong><br />
            Tel : 1899-7000(유료) (평일 09:00~18:00)<br />
            Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br />
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
