<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.lotteon.mapper.AdminProductMapper">
    <insert id="insertProduct">
        INSERT INTO `km_product` SET
            `prodCate1`= #{prodCate1},
            `prodCate2`= #{prodCate2},
            `prodName`= #{prodName},
            `descript`= #{descript},
            `prodCompany`= #{prodCompany},
            `seller`= #{seller},
            `price`= #{price},
            `discount`=#{discount},
            `point`=#{point},
            `stock`=#{stock},
            `delivery`=#{delivery},
            `thumb1`=#{thumb1},
            `thumb2`=#{thumb2},
            `thumb3`=#{thumb3},
            `detail`=#{detail},
            `status`=#{status},
            `duty`=#{duty},
            `receipt`=#{receipt},
            `bizType`=#{bizType},
            `origin`=#{origin},
            `ip`=#{ip},
            `rdate`=NOW(),
            `sale` =#{sale};
    </insert>
    <select id="selectProducts" resultType="hashMap">

        select * from `km_product` WHERE `sale` > 0 ORDER BY `prodNo` DESC;

    </select>
    <update id="updateProduct"></update>
    <update id="UpdateDeleteProduct">
        UPDATE `km_product` SET `sale`=-1 WHERE `prodNo`=#{prodNo};
    </update>
    <delete id="deleteProduct"></delete>

    <select id="SearchProductProdName" resultType="hashMap">
        SELECT * FROM `km_product` WHERE `prodName` LIKE '%${prodName}%' ORDER BY `prodNo` DESC;
    </select>
    <select id="SearchProductProdNo" resultType="hashMap">
        SELECT * FROM `km_product` WHERE `prodNo` LIKE #{prodNo} ORDER BY `prodNo` DESC;
    </select>
    <select id="SearchProductProdCompany" resultType="hashMap">
        SELECT * FROM `km_product` WHERE `prodCompany` LIKE '%${prodCompany}%' ORDER BY `prodNo` DESC;
    </select>
    <select id="SearchProductSeller" resultType="hashMap">
        SELECT * FROM `km_product` WHERE `seller` LIKE '%${seller}%' ORDER BY `prodNo` DESC;
    </select>
    
    <select id="selectProductCate" resultType="hashMap">
        SELECT * FROM `km_product_cate1` AS a
        JOIN `km_product_cate2` AS b ON a.cate1 = b.cate1
        WHERE a.`cate1`=#{cate1};
    </select>

    <!-- 여기서 부터 페이징
    -->
    <select id="selectProductCountTotal" resultType="int">
        SELECT COUNT(*) FROM `km_product` WHERE `sale` >= 0;
    </select>

    <select id="selectPageProducts" resultType="co.kr.lotteon.dto.admin.AdminProductDTO">
        SELECT * FROM `km_product` WHERE `sale` >= 0 ORDER BY `prodNo` DESC
        LIMIT #{start}, 10;
    </select>

</mapper>