<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.lotteon.mapper.CartMapper">



    <select id="selectCountCartByUidAndProdNo">
        SELECT COUNT(*) FROM `km_product_cart` WHERE `uid`=#{uid} AND `prodNo`=#{prodNo} ORDER BY `rdate` DESC;
    </select>

    <select id="selectProductsForOrder" resultType="co.kr.lotteon.dto.product.ItemDTO">
        SELECT
        a.prodNo,
        a.prodName,
        a.prodCate1,
        a.prodCate2,
        a.descript,
        a.price,
        a.discount,
        a.thumb1,
        b.`point`,
        b.delivery,
        b.total,
        b.count
        FROM
        `km_product`
        AS a
        JOIN `km_product_cart`
        AS b
        ON a.prodNo=b.prodNo
        WHERE b.uid= #{uid} AND b.cartNo= #{cartNo};
    </select>

    <!--<select id="selectCartByUidAndProdNo">
        SELECT * FROM `km_product_cart` WHERE `uid`=#{uid} AND `prodNo`=#{prodNo};
    </select>-->

    <update id="updateCartProductByUidAndProdNo">
        UPDATE `km_product_cart` SET `count` = `count` + #{count}, `total` = `total` + #{total} WHERE `uid`=#{uid} AND `prodNo`=#{prodNo};
    </update>

    <delete id="deleteCartProductByCartNo">
        DELETE FROM `km_product_cart` WHERE `cartNo` = #{cartNo};
    </delete>

    <delete id="deleteCartProductByProdNoAndUid">
        DELETE FROM `km_product_cart` WHERE `uid`=#{uid} AND `prodNo`=#{prodNo};
    </delete>

</mapper>