<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.lotteon.mapper.OrderItemMapper">

    <insert id="insertOrderItem">
        INSERT INTO `km_product_order_item` SET
                            `ordNo`= #{ordNo},
                            `prodNo`= #{prodNo},
                            `count`= #{count},
                            `price`= #{price},
                            `discount`= #{discount},
                            `point`= #{point},
                            `delivery`= #{delivery},
                            `total`= #{total};
    </insert>

</mapper>