<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.lotteon.mapper.PointMapper">

    <insert id="insertPoint">
        INSERT INTO `km_member_point` SET
                            `uid`= #{uid},
                            `ordNo`= #{ordNo},
                            `point`= #{point},
                            `note`= #{note},
                            `pointDate`=NOW();
    </insert>

    <insert id="insertUsedPoint">
        INSERT INTO `km_member_point` SET
        `uid`= #{uid},
        `ordNo`= #{ordNo},
        `point`= #{point},
        `note`= #{note},
        `pointDate`=NOW();
    </insert>

    <update id="minusMemberPoint">
        UPDATE `km_member` SET `point`= `point`-#{point} WHERE `uid`=#{uid};
    </update>

    <select id="myPointList">
        SELECT * FROM
    </select>

</mapper>