<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.lotteon.mapper.ProductMapper">

    <select id="selectProductForOrder" resultType="co.kr.lotteon.dto.product.ItemDTO">
        SELECT `prodNo`, `prodName`, `descript`, `price`, `discount`, `point`, `delivery`, `prodCate1`, `prodCate2`, `thumb1`
                FROM `km_product` WHERE `prodNo`= #{prodNo};
    </select>

    <select id="selectLatestOrdNo">
        SELECT `ordNo` FROM `km_product_order` WHERE `ordUid` = #{ordUid} ORDER BY `ordDate` DESC LIMIT 1;
    </select>

    <!--SEARCH QUERY 공통 부분-->
    <sql id="searchProductsSame">
        SELECT *
        FROM `km_product` AS a
        LEFT JOIN `km_product_cate1` AS b
        ON a.prodCate1=b.cate1
        WHERE a.sale=1 AND a.prodName LIKE CONCAT('%', #{keyword}, '%')
    </sql>

    <select id="search" resultType="co.kr.lotteon.dto.product.ProductDTO">
        <include refid="searchProductsSame"></include>
        <if test="prodCate1 != '' and prodCate1 != null">
            AND a.prodCate1=#{prodCate1}
        </if>
        <if test="type == 'sold'">ORDER BY a.`sold` DESC</if>
        <if test="type == 'priceAsc'">ORDER BY a.`price` ASC</if>
        <if test="type == 'priceDesc'">ORDER BY a.`price` DESC</if>
        <if test="type == 'score'">ORDER BY a.`score` DESC</if>
        <if test="type == 'review'">ORDER BY a.`review` DESC</if>
        <if test="type == 'rdate'">ORDER BY a.`rdate` ASC</if>
    </select>


    <update id="increaseProductHitByProdNo">
        UPDATE `km_product` SET `hit`=`hit`+1 WHERE `prodNo`=#{prodNo};
    </update>

    <update id="minusStock">
        UPDATE `km_product` SET
                `stock`= `stock` - #{count},
                `sold`= `sold` + #{count}
                WHERE `prodNo`= #{prodNo};
    </update>

</mapper>