<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.lotteon.mapper.ProductMapper">

    <select id="selectProductForOrder" resultType="co.kr.lotteon.dto.product.ItemDTO">
        SELECT `prodNo`, `prodName`, `descript`, `price`, `discount`, `point`, `delivery`, `prodCate1`, `prodCate2`, `thumb1`
                FROM `km_product` WHERE `prodNo`= #{prodNo};
    </select>

    <select id="selectLatestOrdNo">
        SELECT `ordNo` FROM `km_product_order` WHERE `ordUid` = #{ordUid} ORDER BY `ordDate` DESC LIMIT 1;
    </select>

    <select id="selectSearchCountProducts">
        SELECT COUNT(*) FROM `km_product` WHERE a.sale=1 AND a.prodName LIKE CONCAT('%', #{keyword}, '%') AND `sale`=1
        <if test="prodCate1 != '' and prodCate1 != null">WHERE `prodCate1`=#{prodCate1}</if>
    </select>

    <!--SEARCH QUERY 공통 부분-->
    <sql id="searchProductsSame">
        SELECT *
        FROM `km_product` AS a
        LEFT JOIN `km_product_cate1` AS b
        ON a.prodCate1=b.cate1
        WHERE a.sale=1 AND a.prodName LIKE CONCAT('%', #{keyword}, '%')
    </sql>

    <select id="search" resultMap="productResultMap">
        <include refid="searchProductsSame"></include>
        <if test="prodCate1 != '' and prodCate1 != null">
            AND a.prodCate1=#{prodCate1}
        </if>
        <if test="type == 'sold'">ORDER BY a.`sold` DESC</if>
        <if test="type == 'priceAsc'">ORDER BY a.`price` ASC</if>
        <if test="type == 'priceDesc'">ORDER BY a.`price` DESC</if>
        <if test="type == 'score'">ORDER BY a.`score` DESC</if>
        <if test="type == 'review'">ORDER BY a.`review` DESC</if>
        <if test="type == 'rdate'">ORDER BY a.`rdate` ASC</if>
        <if test="start != '' and start != null">LIMIT #{start}, 10</if>
    </select>


    <resultMap id="productResultMap" type="co.kr.lotteon.dto.product.ProductDTO">
        <id property="prodNo" column="prodNo"/>
        <result property="prodCate2" column="prodCate2"/>
        <result property="prodName" column="prodName"/>
        <result property="descript" column="descript"/>
        <result property="prodCompany" column="prodCompany"/>
        <result property="price" column="price"/>
        <result property="discount" column="discount"/>
        <result property="point" column="point"/>
        <result property="stock" column="stock"/>
        <result property="sold" column="sold"/>
        <result property="delivery" column="delivery"/>
        <result property="hit" column="hit"/>
        <result property="score" column="score"/>
        <result property="review" column="review"/>
        <result property="thumb1" column="thumb1"/>
        <result property="thumb2" column="thumb2"/>
        <result property="thumb3" column="thumb3"/>
        <result property="detail" column="detail"/>
        <result property="status" column="status"/>
        <result property="duty" column="duty"/>
        <result property="receipt" column="receipt"/>
        <result property="bizType" column="bizType"/>
        <result property="ip" column="ip"/>
        <result property="rdate" column="rdate"/>
        <result property="sale" column="sale"/>
        <result property="etc2" column="etc2"/>
        <result property="etc3" column="etc3"/>
        <result property="etc4" column="etc4"/>
        <result property="etc5" column="etc5"/>
        <association property="prodCate1" resultMap="cate1ResultMap"/>
        <association property="seller" resultMap="sellerResultMap"/>
    </resultMap>

    <resultMap id="cate1ResultMap" type="co.kr.lotteon.dto.product.ProdCate1DTO">
        <id property="cate1" column="cate1"/>
        <result property="c1Name" column="c1Name"/>
        <result property="c1Icon" column="c1Icon"/>
    </resultMap>

    <resultMap id="sellerResultMap" type="co.kr.lotteon.dto.member.MemberDTO">
        <id property="uid" column="uid"/>
        <result property="pass" column="pass"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="hp" column="hp"/>
        <result property="email" column="email"/>
        <result property="type" column="type"/>
        <result property="point" column="point"/>
        <result property="level" column="level"/>
        <result property="zip" column="zip"/>
        <result property="addr1" column="addr1"/>
        <result property="addr2" column="addr2"/>
        <result property="company" column="company"/>
        <result property="ceo" column="ceo"/>
        <result property="bizRegNum" column="bizRegNum"/>
        <result property="comRegNum" column="comRegNum"/>
        <result property="tel" column="tel"/>
        <result property="manager" column="manager"/>
        <result property="managerHp" column="managerHp"/>
        <result property="fax" column="fax"/>
        <result property="regip" column="regip"/>
        <result property="wdate" column="wdate"/>
        <result property="rdate" column="rdate"/>
        <result property="location" column="location"/>
        <result property="birth" column="birth"/>
        <result property="etc3" column="etc3"/>
        <result property="etc4" column="etc4"/>
        <result property="etc5" column="etc5"/>
    </resultMap>


    <update id="increaseProductHitByProdNo">
        UPDATE `km_product` SET `hit`=`hit`+1 WHERE `prodNo`=#{prodNo};
    </update>

    <update id="minusStock">
        UPDATE `km_product` SET
                `stock`= `stock` - #{count},
                `sold`= `sold` + #{count}
                WHERE `prodNo`= #{prodNo};
    </update>

</mapper>