<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/admin/admin_layout.html}">
<section layout:fragment="content" id="qna">

  <head>
    <link rel="stylesheet" th:href="@{/css/adminCs.css}" type="text/css"/>
  </head>

  <nav th:replace="~{/fragments/admin/admin_nav :: nav}">
    <!-- nav 들어올 영역 -->
  </nav>

  <article id="reply">

    <table>
      <tr>
        <td>유형</td>
        <td>
          고객서비스
        </td>
      </tr>

      <tr>
        <td>제목</td>
        <td>
          개인회원간 법인회원에 차이가 있나요?
        </td>
      </tr>

      <tr>
        <td>내용</td>
        <td>
          <p>
            개인회원은 본인인증, 법인회원은 사업자등록번호를<br>
            기준으로 사업자 인증 후 가입 가능합니다.
          </p>
        </td>
      </tr>

      <tr>
        <td>답변</td>
        <td>
          <textarea placeholder="답변을 입력해주세요."></textarea>
        </td>
      </tr>
    </table>

    <div id="buttons">
      <a href="#" class="btnDelete">삭제</a>
      <a href="#" class="btnWrite">답변등록</a>
      <a href="#" class="btnList">목록</a>
    </div>

  </article>
</section>
</html>
