<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/admin/admin_layout.html}">
<head>
  <link rel="stylesheet" th:href="@{/css/adminCs.css}" type="text/css"/>
  <script th:src="@{/js/admin/cs_delete.js}"></script>
  <script>
    $(function() {
      $('.btnWrite').click(function(e) {
        e.preventDefault();
        if(confirm('답변을 등록하시겠습니까?')) {
          $('#rep').submit();
        }
      });
    });
  </script>
</head>
<section layout:fragment="content" th:id="${group}">

  <nav>
    <h3>[[${groupName}]] 보기</h3>
    <p>
      HOME > 고객센터 > <strong>[[${groupName}]]</strong>
    </p>
  </nav>

  <article id="reply">
    <form th:action="@{/admin/cs/write}" method="post" id="rep">
      <input type="hidden" name="parent"  th:value="${view.no}">
      <input type="hidden" name="group"   th:value="${view.group.group}">
      <input type="hidden" name="cate1"   th:value="${view.cate1.cate1}">
      <input type="hidden" name="cate2"   th:value="${view.cate2.cate2}">
      <input type="hidden" name="title"   th:value="${view.title}">
      <table>
        <tr>
          <td>유형</td>
          <td>
            [[${view.cate1.cate1_name}]] - [[${view.cate2.cate2_name}]]
          </td>
        </tr>

        <tr>
          <td>제목</td>
          <td th:utext="${view.brTitle}">

          </td>
        </tr>

        <tr>
          <td>내용</td>
          <td>
            <p th:utext="${view.brContent}">

            </p>
          </td>
        </tr>

        <tr>
          <td>답변</td>
          <td>
            <textarea name="content" placeholder="답변을 입력해주세요."></textarea>
          </td>
        </tr>
      </table>
    </form>
    <div id="buttons">
      <a href="#" class="btnDelete delete">삭제</a>
      <a href="#" class="btnWrite">답변등록</a>
      <a th:href="@{'/admin/cs/' + ${group} + '/list?'
      + ${selectedCate1 != null ? 'cate1=' + selectedCate1 + '&' : ''}
      + ${selectedCate2 != null ? 'cate2=' + selectedCate2 + '&' : ''}
      + 'no=' + ${view.no} + '&pg=' + ${pg}}" class="btnList">목록</a>
      <input name="chk" type="hidden" th:value="${view.no}">
      <input name="url" type="hidden" th:value="${path}">
    </div>

  </article>
</section>
</html>
