<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/admin/admin_layout.html}">
<head>
  <script th:src="@{/js/cs/cs_layout.js}"></script>
  <script th:src="@{/js/admin/cs_delete.js}"></script>
  <link rel="stylesheet" th:href="@{/css/adminCs.css}" type="text/css"/>
</head>
<section layout:fragment="content" class="group" th:id="${group}">
  <input type="hidden" name="success" value="${success}">

  <nav>
    <h3>[[${groupName}]] 보기</h3>
    <p>
      HOME > 고객센터 > <strong>[[${groupName}]]</strong>
    </p>
  </nav>

  <article id="view">

    <table>
      <tr>
        <td>유형</td>
        <td>
          [[${view.cate1.cate1_name}]]
          <th:block th:if="${group ne 'notice'}">
            - [[${view.cate2.cate2_name}]]
          </th:block>
        </td>
      </tr>

      <tr>
        <td>제목</td>
        <td th:text="${view.title}"></td>
      </tr>

      <tr>
        <td>내용</td>
        <td>
          <p th:utext="${view.brContent}"></p>
        </td>
      </tr>

      <tr th:if="${view.comment > 0}">
        <td>답변</td>
        <td>
          <p th:utext="${answer.brContent}"></p>
        </td>
      </tr>
    </table>

    <div id="buttons">
      <a href="#" class="btnDelete delete">삭제</a>
      <a th:href="@{'/admin/cs/' + ${group} + '/modify?' + 'cate1=' + ${view.cate1.cate1}
                        + ${group ne 'notice'? '&cate2=' + view.cate2.cate2 : '' } + '&no=' + ${view.no}}" class="btnModify">수정</a>
      <a th:href="@{'/admin/cs/' + ${group} + '/list?'
      + ${selectedCate1 != null ? 'cate1=' + selectedCate1 + '&' : ''}
      + ${selectedCate2 != null ? 'cate2=' + selectedCate2 + '&' : ''}
      + 'no=' + ${view.no} + '&pg=' + ${pg}}" class="btnList">목록</a>
      <input name="chk" type="hidden" th:value="${view.no}">
      <input name="url" type="hidden" th:value="${path}">
    </div>

  </article>
</section>
</html>
