<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/cs/fragments/layout :: content}">
  <article layout:fragment="content">
    <nav th:replace="~{/cs/fragments/nav :: nav}">
      <!-- nav 들어올 영역 -->
    </nav>

    <table>
      <tr th:each="board:${boardList}">
        <td>
          <a th:href="@{/cs/notice/view(cate1=${board.cate1.cate1}, no=${board.no})}">
            [[${board.title}]]
          </a>
        </td>
        <td>[[${board.yyyyMMdd}]]</td>
      </tr>
    </table>

    <div class="page">
      <a th:href="@{/cs/qna/list(cate=free, pg=${pageResponseDTO.start-1})}"
         class="prev" th:if="${pageResponseDTO.prev}">
        이전
      </a>

      <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
        <a th:href="@{/cs/qna/list(cate=free, pg=${num})}" th:classappend="${pageResponseDTO.pg eq num ? 'num on' : 'num'}">[[${num}]]</a>
      </th:block>

      <a th:href="@{/cs/qna/list(cate=free, pg=${pageResponseDTO.end+1})}"
         class="next" th:if="${pageResponseDTO.next}">
        다음
      </a>
    </div>
  </article>
</html>