<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>롯데ON::롯데 온라인 쇼핑몰</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/member.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="top" th:replace="~{/fragments/loginBar}">
            <!--
                로그인 바
            -->
        </div>
        <div class="logo">
            <div>
                <a th:href="@{/}"><img th:src="@{/images/header_logo.png}" alt="로고"/></a>
            </div>
        </div>
    </header>
    <main id="member">
        <div layout:fragment="memberMain">
            <!-- 메인 기능 -->
        </div>
    </main>
    <footer th:replace="~{/fragments/footer}">
        <!--
          푸터
        -->
    </footer>
</div>
</body>
</html>