<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/my/my_layout.html}">
    <div class="home" layout:fragment="content">
        <ul th:replace="~{/fragments/my/my_aside.html}">
            <!--
            어사이드 영역
            -->
        </ul>

        <section>
            <a href="#"><img th:src="@{/images/my/my_banner2.png}" alt="패션, 타운 하나로 끝" class="banner"></a>
            <article class="latest">
                <h3>최근주문내역</h3>
                <a href="#" class="more">더보기</a>
                <table border="0">
                    <tr>
                        <th>날짜</th>
                        <th>상품정보</th>
                        <th>상태</th>
                        <th>확인/신청</th>
                    </tr>
                    <tr th:each="list, orderStat:${myOrder.ordList}" th:if="${orderStat.index} lt 3">
                        <td class="date" th:text="${list.yyyyMMdd2}">2022-12-13</td>
                        <td>
                            <a th:href="@{/product/view(prodCate1=${list.prodCate1}, prodCate2=${list.prodCate2}, prodNo=${list.prodNo}}" class="thumb">
                                <img th:src="@{/thumbs/}+${list.prodCate1}+'/'+${list.prodCate2}+'/'+${list.thumb1}" alt="">
                            </a>
                            <ul>
                                <li class="company">[[${list.prodCompany}]]</li>
                                <li class="prodName"><a href="#">[[${list.prodName}]]</a></li>
                                <li>수량 : <span class="prodCount">[[${list.count}]]</span>개 / 주문번호 : <span class="ordNo">[[${list.ordNo}]]</span></li>
                                <li class="prodPrice">[[${list.totalWithComma}]]</li>
                            </ul>
                        </td>
                        <td class="status">[[${list.ordComplete eq 0 ? '배송중' : '배송완료'}]]</td>
                        <td class="confirm">
                            <a href="#" class="receive">수취확인</a>
                            <a href="#" class="review">상품평</a>
                            <a href="#" class="refund">반품신청</a>
                            <a href="#" class="exchange">교환신청</a>
                        </td>
                    </tr>
                </table>
                <div th:if="${myOrder.total eq 0}"
                     style="width: 100%; height: 70px; font-size: 14px;
                     line-height: 70px; text-align: center;">
                    주문 내역이 없습니다.
                </div>
            </article>

            <article class="point">
                <h3>포인트적립내역</h3>
                <a th:href="@{/my/point}" class="more">더보기</a>
                <table border="0">
                    <tr>
                        <th>날짜</th>
                        <th>구분</th>
                        <th>주문번호</th>
                        <th>적립금액</th>
                        <th>비고</th>
                        <th>유효기간</th>
                    </tr>
                    <tr th:each="list, pointStat:${myPoint.list}" th:if="${pointStat.index} lt 5">
                        <td>[[${#strings.substring(list.pointDate, 0, 10)}]]</td>
                        <td>[[${list.point > 0 ? '적립' : '사용' }]]</td>
                        <td>[[${list.ordNo}]]</td>
                        <td th:text="${#numbers.formatInteger(list.point, 0, 'COMMA')}"></td>
                        <td>[[${list.note}]]</td>
                        <td>[[${#strings.substring(list.expiredDate, 0, 10)}]]</td>
                    </tr>
                </table>
                <div th:if="${myPoint.total eq 0}"
                     style="width: 100%; height: 70px; font-size: 14px;
                     line-height: 70px; text-align: center;">
                    주문 내역이 없습니다.
                </div>
            </article>
            <article class="review">
                <h3>상품평</h3>
                <a th:href="@{/my/review}" class="more">더보기</a>
                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>상품명</th>
                        <th>내용</th>
                        <th>평점</th>
                        <th>작성일</th>
                    </tr>
                    <tr th:each="list, reviewStat:${myReview.reviewList}" th:if="${reviewStat.index} lt 5">
                        <td>[[${reviewStat.count}]]</td>
                        <td>[[${list.prodNo.prodName}]]</td>
                        <td th:utext="${list.escapeContent}">배송이 빠릅니다. 잘 사용하겠습니다.</td>
                        <td><span th:class="'rating star' + ${list.rating}">상품평</span></td>
                        <td>[[${list.yyyyMMdd2}]]</td>
                    </tr>
                </table>
                <div th:if="${myReview.total eq 0}"
                     style="width: 100%; height: 70px; font-size: 14px;
                     line-height: 70px; text-align: center;">
                    상품평 내역이 없습니다.
                </div>
            </article>

            <article class="qna">
                <h3>문의내역</h3>
                <a th:href="@{/my/qna}" class="more">더보기</a>
                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>문의채널</th>
                        <th>문의유형</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                    <tr th:each="list, qnaStat:${myQna.csList}" th:if="${qnaStat.index} lt 5">
                        <td>[[${qnaStat.count}]]</td>
                        <td>[[${list.group.group == 'seller' ? '판매자 게시판' : '고객센터'}]]</td>
                        <td>[[${list.cate1.cate1_name}]]</td>
                        <td th:utext="${list.brTitle}">신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                        <td>[[${list.yyyyMMdd}]]</td>
                        <td><span th:classappend="${list.comment > 0 ? 'answered' : 'notAnswerYet'}">[[${list.comment > 0 ? '답변완료' : '검토중'}]]</span></td>
                    </tr>
                </table>
                <div th:if="${myQna.total eq 0}"
                     style="width: 100%; height: 70px; font-size: 14px;
                     line-height: 70px; text-align: center;">
                    문의 내역이 없습니다.
                </div>
            </article>

            <article class="myinfo">
                <h3>확인해주세요!</h3>

                <div>
                    <div class="address">
                        <span>기본 배송지설정</span>
                        <a href="#" class="setting">변경</a>
                    </div>
                    <div class="email">
                        <span>email 설정</span>
                        <a href="#" class="setting">변경</a>
                        <p>
                            <span>[[${#authentication.principal.member.email}]]</span><br/>
                            (최종수정일 <span>2023-10-30</span>)
                        </p>
                    </div>
                    <div class="hp">
                        <span>휴대폰 설정</span>
                        <a href="#" class="setting">변경</a>
                        <p>
                            <span>[[${#authentication.principal.member.hp}]]</span><br/>
                            (최종수정일 <span>2023-10-30</span>)
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</html>