<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/my/my_layout :: content}">
<div class="info" layout:fragment="content">
    <ul th:replace="~{/fragments/my/my_aside}">
        <!-- 카테고리 -->
    </ul>

    <section>
        <a href="#"><img th:src="@{/images/my/my_banner1.jpg}" alt="패션, 타운 하나로 끝" class="banner"></a>
        <article>
            <h3>회원정보 설정</h3>

            <table border="0">
                <tr>
                    <td>사용자 ID</td>
                    <td>chh****</td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td>
                        <button id="btnChangePass">비밀번호 수정</button>
                    </td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>김*학</td>
                </tr>
                <tr>
                    <td>생년월일</td>
                    <td>1983년 05월 03일</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>
                        <input type="text" name="email1" value="chakh101">@
                        <input type="text" name="email2" value="naver.com">
                        <select>
                            <option>직접입력</option>
                            <option>naver.com</option>
                            <option>daum.net</option>
                            <option>gmail.com</option>
                            <option>nate.com</option>
                            <option>outlook.com</option>
                        </select>
                        <button id="btnChangeEmail">수정하기</button>
                    </td>
                </tr>
                <tr>
                    <td>휴대폰</td>
                    <td>
                        <p class="hp">
                            <input type="text" name="hp1" value="010"/>-
                            <input type="text" name="hp2" value="1234"/>-
                            <input type="text" name="hp3" value="1001"/>
                            <button id="btnChangeHp">수정하기</button>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>
                        <input type="text" name="zip"/>
                        <button id="btnFindZip">주소검색</button>
                        <p class="address">
                            <input type="text" name="addr1"/>
                            <input type="text" name="addr2"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>회원탈퇴</td>
                    <td>
                        <button id="btnWithdraw">탈퇴하기</button>
                    </td>
                </tr>
            </table>
            <button id="btnInfoChange">수정하기</button>
        </article>
    </section>

</div>
</html>