<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/my/my_layout.html}">
    <div class="info" layout:fragment="content">
        <ul th:replace="~{/fragments/my/my_aside.html}">
            <!--
            어사이드 영역
            -->
        </ul>

        <section>
            <a href="#"><img th:src="@{/images/my/my_banner2.png}" alt="패션, 타운 하나로 끝" class="banner"></a>
            <article>
                <h3>회원정보 설정</h3>

                <table border="0">
                    <tr>
                        <td>사용자 ID</td>
                        <td class="uid">[[${myMember.uid}]]</td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                        <td>
                            <button id="btnChangePass">비밀번호 수정</button>
                        </td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td class="name">[[${myMember.name}]]</td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                        <td class="birth">[[${myMember.rdate}]]</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>
                            <input type="text" name="email1" value="chakh101">@
                            <input type="text" name="email2" value="naver.com">
                            <select class="emailDomain">
                                <option>직접입력</option>
                                <option>naver.com</option>
                                <option>daum.net</option>
                                <option>gmail.com</option>
                                <option>nate.com</option>
                                <option>outlook.com</option>
                            </select>
                            <button id="btnChangeEmail">수정하기</button>
                        </td>
                    </tr>
                    <tr>
                        <td>휴대폰</td>
                        <td>
                            <p class="hp">
                                <input type="text" name="hp1" value="010"/>-
                                <input type="text" name="hp2" value="1234"/>-
                                <input type="text" name="hp3" value="1001"/>
                                <button id="btnChangeHp">수정하기</button>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>
                            <input type="text" name="zip" th:value="${myMember.zip}"/>
                            <button id="btnFindZip" type="button" onclick="zipcode()">주소검색</button>
                            <p class="address">
                                <input type="text" name="addr1" th:value="${myMember.addr1}"/>
                                <input type="text" name="addr2" th:value="${myMember.addr2}"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>회원탈퇴</td>
                        <td>
                            <button id="btnWithdraw">탈퇴하기</button>
                        </td>
                    </tr>
                </table>
                <button id="btnInfoChange">수정하기</button>
            </article>
        </section>

        <script>
            $(function (){
                const email = '[[${myMember.email}]]';
                const hp = '[[${myMember.hp}]]';
                const rdate = $('.birth').text();
                console.log(rdate);

                // "@" 문자를 기준으로 이메일 주소를 분리
                const emailParts = email.split('@');

                // "-" 문자를 기준으로 전화번호를 분리
                const hpParts = hp.split('-');

                // email 데이터 조회
                if (emailParts.length === 2) {
                    const email1Input = document.querySelector('input[name="email1"]');
                    const email2Input = document.querySelector('input[name="email2"]');

                    // 분리된 email를 각각 넣기
                    email1Input.value = emailParts[0];
                    email2Input.value = emailParts[1];

                    $('.emailDomain').change(function (){

                        // 현재 선택된 옵션의 값 가져오기
                        const selectedDomain = this.value;

                        // "직접입력"이 아닌 경우에만 값을 설정
                        if (selectedDomain !== '직접입력') {
                            email2Input.value = selectedDomain;
                        }
                    });
                }

                // hp 데이터 조회
                if (hpParts.length === 3) {
                    const hp1Input = document.querySelector('input[name="hp1"]');
                    const hp2Input = document.querySelector('input[name="hp2"]');
                    const hp3Input = document.querySelector('input[name="hp3"]');

                    hp1Input.value = hpParts[0]; // "010"을 hp1의 value에 설정
                    hp2Input.value = hpParts[1]; // "1234"을 hp2의 value에 설정
                    hp3Input.value = hpParts[2]; // "5678"을 hp3의 value에 설정
                }

                // 년-월-일 형식으로 변환
                // Date 객체로 변환
                let originalDate = new Date(rdate);

                // 원하는 날짜 형식으로 변환
                let formattedDate = originalDate.getFullYear() + "년 " +
                    (originalDate.getMonth() + 1) + "월 " +
                    originalDate.getDate() + "일";
                $('.birth').text(formattedDate);

            });
        </script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:src="@{/js/member/zipcode.js}"></script>
    </div>
</html>