<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns="http://www.w3.org/1999/html"
	  layout:decorate="~{/fragments/member_layout.html}">
<body>
    <div id="wrapper">
        <main id="member">
            <div class="register" layout:fragment="memberMain">
                <nav>
                    <h1>일반 회원가입</h1>
                </nav>
				<form id="formMember" th:action="@{/member/register}" method="POST" th:object="${member}">
					<input type="hidden" name="location" th:field="*{location}">
					<section>
						<table>
							<caption>필수 정보입력</caption>
							<tr>
								<th><span class="essential">*</span>아이디</th>
								<td>
									<input type="text" name="km_uid" placeholder="아이디를 입력" required th:field="*{uid}" th:maxlength="12"/>
									<button type="button" id="btnId" class="btn btnCheck">조회</button>
									<span class="msgId">영문, 숫자로 4~12자까지 설정해 주세요.</span> <br>
									<span class="msgId1"></span>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>비밀번호</th>
								<td>
									<input type="password" name="km_pass1" placeholder="비밀번호를 입력" required th:field="*{pass}" th:maxlength="12"/>
									<span class="msgPass">영문, 숫자, 특수문자를 조합하여8~12자까지 설정해 주세요.</span>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>비밀번호확인</th>
								<td>
									<input type="password" name="km_pass2" placeholder="비밀번호를 확인" required th:maxlength="12"/>
									<span class="msgPass">비밀번호 재입력</span> <br>
									<span class="msgPass1"></span>
								</td>
							</tr>
						</table>
					</section>
					<section>
						<table>
							<caption>기본 정보입력</caption>
							<tr>
								<th><span class="essential">*</span>이름</th>
								<td>
									<input type="text" name="km_name" placeholder="이름을 입력" required th:field="*{name}" /> <br>
									<span class="msgName"></span>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>성별</th>
								<td>
									<label><input type="radio" name="km_gender" th:field="*{gender}" value="1" th:checked="false">&nbsp;남</label>
									<label><input type="radio" name="km_gender" th:field="*{gender}" value="2">&nbsp;여</label>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>EMAIL</th>
								<td>
									<input type="email" name="km_email" placeholder="이메일 입력" required th:field="*{email}" /> <br>
									<span class="msgEmail"></span>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>휴대폰</th>
								<td>
									<input type="text" name="km_hp" maxlength="13" placeholder="휴대폰번호 입력" required th:field="*{hp}" th:maxlength="13"/>
									<span class="msgHp"> -포함 13자리를 입력하세요.</span> <br>
									<span class="msgHp1"></span>
								</td>
							</tr>
							<tr class="addr">
								<th>주소</th>
								<td>
									<div>
										<input type="text" name="km_zip" id="zip" placeholder="우편번호 입력 클릭" readonly th:field="*{zip}" />
										<button type="button" class="btn btnCheck" id="btnZip" onclick="zipcode()">찾기</button>
									</div>
									<div>
										<input type="text" name="km_addr1" id="addr1" size="50" placeholder="주소를 검색하세요." readonly  th:field="*{addr1}"/>
									</div>
									<div>
										<input type="text" name="km_addr2" id="addr2" size="50" placeholder="상세주소를 입력하세요." th:field="*{addr2}" />
									</div>
								</td>
							</tr>
						</table>
					</section>
					<div>
						<input type="submit" class="join" value="회원가입" />
					</div>
				</form>
				<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
				<script th:src="@{/js/zipcode.js}"></script>
				<script th:src="@{/js/validation.js}"></script>
				<script th:src="@{/js/memberCheck.js}"></script>
            </div>
        </main>
    </div>    
</body>
</html>