<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">    
    <title>롯데ON::롯데 온라인 쇼핑몰</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/member.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>
<script>
    window.onload = function(){

        const agree1 = document.getElementsByName('agree1')[0];
        const agree2 = document.getElementsByName('agree2')[0];
        const agree3 = document.getElementsByName('agree3')[0];
        const agree4 = document.getElementsByName('agree4')[0];

        const typeInput = document.getElementsByName('type')[0];
        const type = typeInput.value;

        // 모두 동의 체크
        $('input[name=all]').change(function(){
            const isChecked = $(this).is(':checked');

            if(isChecked){
                $('input[type=checkbox]').prop('checked',true);
            }else{
                $('input[type=checkbox]').prop('checked',false);
            }
        });

        // 약관 동의
        const agree = document.querySelector('.agree');
        agree.addEventListener('click', function(e){
            e.preventDefault();

            if(!agree1.checked){
                alert('이용약관에 동의하셔야 합니다.');
                return;
            }else if(!agree2.checked){
                alert('전자금융거래 이용약관에 동의하셔야 합니다.');
                return;
            }else if(!agree3.checked){
                alert('개인정보 수집동의에 동의하셔야 합니다.');
                return;
            }else{

                // 일반 회원, 판매 회원 구분
                if(type == 'normal'){
                    location.href ="/member/register";
                }else{
                    location.href ="/member/registerSeller";
                }
            }
        })
    }
</script>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
                    <a href="./member/login.html">로그인</a>
                    <a href="#">회원가입</a>
                    <a href="#">마이페이지</a>
                    <a th:href="@{/}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="../index.html"><img th:src="@{/images/header_logo.png}" alt="로고"/></a>
                </div>
            </div>
        </header>
        <main id="member">
            <div class="signup">
				<nav>
					<h1>약관동의</h1>
				</nav>
                <input type="hidden" name="type" th:value="${type}">
				<section>
					<h3><span class="essential">(필수)</span>케이마켓 이용약관</h3>
					<textarea class="terms" readonly th:text="${sign.terms}"></textarea>
					<label><input type="checkbox" name="agree1" />동의합니다.</label>

					<h3><span class="essential">(필수)</span>전자금융거래 이용약관</h3>
					<textarea class="financial" readonly th:text="${sign.finance}"></textarea>
					<label><input type="checkbox" name="agree2" />동의합니다.</label>

					<h3><span class="essential">(필수)</span>개인정보 수집동의</h3>
					<textarea class="privacy" readonly th:text="${sign.privacy}"></textarea>
					<label><input type="checkbox" name="agree3" />동의합니다.</label>
				</section>

				<section>
					<h3><span class="optional">(선택)</span>위치정보 이용약관</h3>
					<textarea class="location" readonly th:text="${sign.location}"></textarea>
					<label><input type="checkbox" name="agree4" />동의합니다.</label>
				</section>
                <div class="allCheck">
                    <label><input type="checkbox" name="all"/>모두 동의합니다.</label>
                </div>
				<div>
					<input type="button" class="agree" value="동의하기" />
				</div>
            </div>
        </main>        
        <footer>
            <ul>
              <li><a href="#">회사소개</a></li>
              <li><a href="#">서비스이용약관</a></li>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">전자금융거래약관</a></li>
            </ul>
            <div>
              <p><img th:src="@{/images/footer_logo.png}" alt="로고" /></p>
              <p>
                <strong>(주)롯데ON</strong><br />
                서울특별시 송파구 올림픽로 300 롯데월드타워 26층 (역삼동 강남파이낸스센터)<br />
                대표이사 : 김사무엘상현, 정준호, 강성현<br />
                사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br />
                통신판매업 신고 : 서울송파 제0158호<br>
                호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
              </p>
              <p>
                <strong>고객센터</strong><br />
                Tel : 1899-7000(유료) (평일 09:00~18:00)<br />
                Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br />
              </p>
            </div>
          </footer>
    </div>    
</body>
</html>