<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/cs/fragments/layout :: content}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(function(){
    $('.more').click(function(e){
      e.preventDefault();

      /*
      let item = $(this).parent().find('> li:nth-child(n+4)');
      let isVisible = item.is(':visible');

      console.log('isVisible : ' + isVisible);

      if(isVisible){
        item.slideUp(100);
      }else{
        item.slideDown(100);
      }
      */

    });
  });
</script>
  <article layout:fragment="content">
    <nav th:replace="~{/cs/fragments/nav :: nav}">
      <!-- nav 들어올 영역 -->
    </nav>
    <div th:each="board, num:${boardList}">
      <h3>
        [[${board.get(0).cate2.cate2_name}]]
      </h3>
      <ul>
        <li th:each="brd:${board}">
          <a th:href="@{/cs/qna/view(cate1=${brd.cate1.cate1}, no=${brd.no})}">
            <span>Q.</span>[[${brd.title}]]
          </a>
        </li>
        <li class="more">
          <a href="#">더보기</a>
        </li>
      </ul>
    </div>
  </article>
</html>
