<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/cs/fragments/layout.html}">
  <article layout:fragment="content">
    <nav>
      <h2 class="title"><span>Q.</span>[[${view.title}]]</a></h2>
    </nav>

    <div class="content">
      <p>
        [[${view.content}]]
      </p>
      <p>
        ※ 피싱 관련 피해신고<br /><br />
        ▶ 경찰청 사이버수사국 (국번없이)182 :
        http://cyberbureau.police.go.kr<br />
        ▶ KISA 인터넷침해대응센터 (국번없이)118 :
        http://www.krcert.or.kr<br />
        감사합니다.<br />
      </p>
    </div>
    <a th:href="@{/cs/faq/list}" class="btnList">목록보기</a>
  </article>
</html>
