<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <p article th:fragment="report">
        <br/><br/>
        ※ 피싱 관련 피해신고 <br/>
        <a href="http://cyberbureau.police.go.kr" target="_blank">▶ 경찰청 사이버수사국 (국번없이)182 :
        http://cyberbureau.police.go.kr</a> <br/>
        <a href="http://www.krcert.or.kr" target="_blank">▶ KISA 인터넷침해대응센터 (국번없이)118 :
        http://www.krcert.or.kr</a> <br/>
        감사합니다. <br/>
    </p>
</html>