<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div class="top" th:fragment="loginBar">
    <div>
            <span sec:authorize="isAuthenticated()">
              <span class="client">[[${#authentication.principal.member.name}]]</span>님 환영합니다.
            </span>
        <th:block sec:authorize="isAnonymous()">
            <a th:href="@{/member/login}">로그인</a>
            <a th:href="@{/member/join}">회원가입</a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin}">관리자</a>
            <a th:href="@{/member/logout}">로그아웃</a>
            <a href="#">마이페이지</a>
            <a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
        </th:block>
    </div>
</div>
</html>