<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>롯데ON::대한민국 1등 온라인 쇼핑몰</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/star-rating-svg.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/my/popup.js}"></script>
    <script th:src="@{/js/my/jquery.star-rating-svg.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/my.css}">
</head>
<body>
<div id="wrapper">
    <header th:replace="~{/fragments/my/my_header}">

    </header>
    <div id="my">
        <nav th:replace="~{/fragments/my/my_nav}">
            <!-- 배너 및 주문·배송, 할인쿠폰, 포인트, 문의내역  -->
        </nav>

        <div class="coupon" layout:fragment="content">


        </div>
    </div>
    <footer th:replace="~{/fragments/footer}">
        <!-- footer 영역 -->
    </footer>
    <th:block th:replace="~{/fragments/my/popup}">

        <!-- 팝업창(home, order) -->
    </th:block>
</div>
</body>
</html>