/* ----- ----- ----- ----- ----- ----- */
/* ----- ----- 뷰 페이지 css ----- ----- */
/* ----- ----- ----- ----- ----- ----- */
#reply table {
    margin-top: 48px;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}

#reply table * {
    font-size: 16px;
    background-color: transparent;
}

#reply table tr {
    width: 100%;
    height: 26px;
}

#reply table td {
    padding: 25px;
    border-bottom: 1px solid #ccc;
}

#reply table td:first-child {
    width: 15%;
    padding-left: 40px;
    font-weight: bold;
}

#reply table tr:nth-child(4) textarea {
    width: 80%;
    height: 200px;
}



/* ----- ----- ----- ----- ----- ----- */
/* ----- ----- 뷰 페이지 css ----- ----- */
/* ----- ----- ----- ----- ----- ----- */
#view table {
    margin-top: 48px;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}

#view table * {
    font-size: 16px;
    background-color: transparent;
}

#view table tr {
    width: 100%;
    height: 26px;
}

#view table td {
    padding: 25px;
    border-bottom: 1px solid #ccc;
}

#view table td:first-child {
    width: 15%;
    padding-left: 40px;
    font-weight: bold;
}

/*#view > .qna > .view > article > nav {
    width: 100%;
    height: auto;
    padding: 26px;
    border-top: 2px solid #111;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}

#view {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e9e9e9;
    padding: 26px;
    box-sizing: border-box;
}*/



/* ----- ----- ----- ----- ----- ----- */
/* ----- ----- 리스트 페이지 css ----- ----- */
/* ----- ----- ----- ----- ----- ----- */
#list table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}

#list table * {
    font-size: 14px;
    background-color: transparent;
}

#list table tr {
    width: 100%;
    height: 26px;
}

#list table th {
    font-weight: bold;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

#list table td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}
#list #notice td {padding: 4px; }
#list #faq td {padding: 4px; }

#list table#notice td.tit,
#list table#qna td.tit,
#list table#faq td.tit {
    text-align: left;
    padding: 12px 50px;
}

#list #qna th:nth-child(1) { width: 5%;}
#list #qna th:nth-child(2) { width: 10%;}
#list #qna th:nth-child(3) { width: 10%;}
#list #qna th:nth-child(4) { width: 10%;}
#list #qna th:nth-child(5) { width: 35%;}
#list #qna th:nth-child(6) { width: 10%;}
#list #qna th:nth-child(7) { width: 10%;}
#list #qna th:nth-child(8) { width: 10%;}

#list #faq th:nth-child(1) { width: 5%;}
#list #faq th:nth-child(2) { width: 10%;}
#list #faq th:nth-child(3) { width: 10%;}
#list #faq th:nth-child(4) { width: 10%;}
#list #faq th:nth-child(5) { width: 35%;}
#list #faq th:nth-child(6) { width: 10%;}
#list #faq th:nth-child(7) { width: 10%;}
#list #faq th:nth-child(8) { width: 10%;}

#list #notice th:nth-child(1) { width: 5%;}
#list #notice th:nth-child(2) { width: 10%;}
#list #notice th:nth-child(3) { width: 10%;}
#list #notice th:nth-child(4) { width: 45%;}
#list #notice th:nth-child(5) { width: 10%;}
#list #notice th:nth-child(6) { width: 10%;}
#list #notice th:nth-child(7) { width: 10%;}



/* ----- ----- ----- ----- ----- ----- */
/* ----- ----- write paging 처리 ----- ----- */
/* ----- ----- ----- ----- ----- ----- */
#write table {
    margin-top: 48px;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}

#write table * {
    font-size: 16px;
    background-color: transparent;
}

#write table tr {
    width: 100%;
    height: 26px;
}

#write table td {
    padding: 25px;
    border-bottom: 1px solid #ccc;
}

#write table td:first-child {
    width: 15%;
    padding-left: 40px;
    font-weight: bold;
}

#write table tr:nth-child(2) input {
    width: 80%;
}

#write table tr:nth-child(3) textarea {
    width: 80%;
    height: 400px;
}

#write #buttons {
    text-align: center;
}

#write #buttons * {
    float: none;
}

#write #buttons a {
    display: inline-block;
}


/* ----- ----- ----- ----- ----- ----- */
/* ----- ----- write paging 처리 ----- ----- */
/* ----- ----- ----- ----- ----- ----- */
#modify table {
    margin-top: 48px;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}

#modify table * {
    font-size: 16px;
    background-color: transparent;
}

#modify table tr {
    width: 100%;
    height: 26px;
}

#modify table td {
    padding: 25px;
    border-bottom: 1px solid #ccc;
}

#modify table td:first-child {
    width: 15%;
    padding-left: 40px;
    font-weight: bold;
}

#modify table tr:nth-child(2) input {
    width: 80%;
}

#modify table tr:nth-child(3) textarea {
    width: 80%;
    height: 400px;
}

#modify #buttons {
    text-align: center;
}

#modify #buttons * {
    float: none;
}

#modify #buttons a {
    display: inline-block;
}



/* ----- ----- ----- ----- ----- ----- */
/* ----- ----- list paging 처리 ----- ----- */
/* ----- ----- ----- ----- ----- ----- */
#list .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#list .paging > span > a {
    color: #777;
    font-size: 11px;
    letter-spacing: -1px;
}

#list .paging > span > a:hover {
    text-decoration: underline;
}

#list .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#list .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#list .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}
#list .btnWrite {float:right;}


/* ----- ----- ----- ----- ----- ----- */
/* ----- ----- 공통버튼 ----- ----- */
/* ----- ----- ----- ----- ----- ----- */
#buttons {
    margin-top: 30px;
    text-align: center;
}
#buttons * {
    margin: 0 2px;
}

/*선택삭제*/
.btnCD {
    text-align: center;
    float: left;
    width: 100px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}
.btnCD:hover {
    background-color: #959595;
    color: #fefefe;
    font-weight: bold;
}

 /*글쓰기, 등록*/
.btnWrite {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #5cb85c;
    color: #fff;
    vertical-align: middle;
    box-sizing: border-box;
}
.btnWrite:hover {
    background-color: #fff;
    color: #5cb85c;
    font-weight: bold;
}

/*글 수정*/
.btnModify {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}
.btnModify:hover {
    border: 1px solid #428bca;
    color: #428bca;
    font-weight: bold;
}

/*글 삭제*/
.btnDelete {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}
.btnDelete:hover {
    border: 1px solid #d9534f;
    color: #d9534f;
    font-weight: bold;
}

/*글 목록*/
.btnList {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #428bca;
    color: #fff;
    vertical-align: middle;
    box-sizing: border-box;
}
.btnList:hover {
    background-color: #fff;
    color: #428bca;
    font-weight: bold;
}

.btnCancel {
    display: inline-block;
    text-align: center;
    float: right;
    width: 100px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}
.btnCancel:hover {
    background-color: #959595;
    color: #fefefe;
    font-weight: bold;
}