<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/cs/cs_layout.html}">
<head>
  <script th:src="@{/js/cs/cs_deleteBoard.js}"></script>
</head>
  <article layout:fragment="content">
    <input type="hidden" name="no"    th:value="${view.no}">
    <nav>
      <h2 class="title">[[${view.cate2.wrapping}]] [[${view.title}]]</h2>
      <p>
        <span>[[${view.uid.uidMasking}]]</span>
        <span>[[${view.yyyyMMdd2}]]</span>
      </p>
    </nav>

    <div class="content">
      <p th:utext="${view.brContent}"></p>
      <p article th:replace="~{/fragments/cs/cs_report}">

        <!-- 주의사항 들어갈 위치! -->

      </p>
    </div>

    <div class="content" th:if="${view.comment > 0}">
      <h2 class="answer">☞ [답변] [[${answer.title}]]</h2>
      <p th:utext="${answer.brContent}">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>

    <div id="buttons">
      <th:block sec:authorize="isAuthenticated()"
                th:if="${#authentication.principal.member.uid eq view.uid.uid}">
        <a href="#" th:status="${#authentication.principal.member.uid eq view.uid.uid ? 'true':'false'}" class="btnDelete">삭제</a>
        <a th:href="@{/cs/qna/modify(cate1=${view.cate1.cate1}, cate2=${view.cate2.cate2}, no=${view.no})}" class="btnModify">수정</a>
      </th:block>
      <a th:href="@{/cs/qna/list}" class="btnList">목록보기</a>
    </div>
  </article>
</html>
