<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/cs_layout.html}">
  <article layout:fragment="content">
    <nav>
      <h2 class="title">[[${view.cate2.wrapping}]] [[${view.title}]]</h2>
      <p>
        <span>[[${view.uid.uidMasking}]]</span>
        <span>[[${view.yyyyMMdd2}]]</span>
      </p>
    </nav>

    <div class="content">
      <p th:utext="${view.brContent}"></p>
      <p article th:replace="~{/fragments/cs_report}">

        <!-- 주의사항 들어갈 위치! -->

      </p>
    </div>

    <div class="content">
      <h2 class="answer">☞ [답변] 제목</h2>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;내용입니다.
      </p>
    </div>

    <a th:href="@{/cs/qna/list}" class="btnList">목록보기</a>
  </article>
</html>
