<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/policy/policy_layout.html}">

<section class="buyer" layout:fragment="content">
  <nav>
    <h1>LotteON 서비스 이용약관</h1>
    <ul>
      <li class="on"><a th:href="@{/buyer}">구매회원 약관</a></li>
      <li><a th:href="@{/policy/seller}">판매회원 약관</a></li>
      <li><a th:href="@{/policy/finance}">전자금융거래 약관</a></li>
      <li><a th:href="@{/policy/location}">위치정보이용 약관</a></li>
      <li><a th:href="@{/policy/privacy}">개인정보수집 방침</a></li>
    </ul>
  </nav>
  <article class="selectPolicy">
    <h2>구매회원 이용약관</h2>
    <p th:each="terms:${selectPolicy}">
      <span class="tit">제1조(목적)</span>
      <span class="content" th:text="${terms.buyer}"></span>
    </p>
  </article>
</section>


</html>
